@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

body {
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 5px;
  height: 100vh;
  margin: 10px;
}
nav {
	background: #C9BFBF;
	grid-area: nav;
}

section {
	background: rgba(201, 191, 191, 0.2);
	grid-area: section;
}

aside {
	background: #C9C9C9;
	grid-area: aside;
}

footer {
	background: #0c6ba5;
	grid-area: footer;
}

header, nav, section, aside, footer {
	padding: 5px;
}
h1 {
	text-align: center;
	color: rgba(33, 49, 75, 0.77);
}
form {
	margin: 20px;
}
label{
	color: rgba(33, 49, 75, 0.77);
}
select{
	font-size: 100%;
  	width: 50%;
}
option{
	background: #a7bbba;
  	color: rgba(33, 49, 75, 0.77);
}
form input[type="submit"]{
	padding:15px;
  	margin-top:20px;
  	width:250px;
  	border:1px solid #1f2124;
	background: #0c6ba5;
	text-align: center;
	color: #C9C9C9;
	margin-left: 35%;
}