<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Заявление на отпуск</title>
  <link rel="stylesheet" href="/staticfiles/css/main.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="/staticfiles/css/header.css">
</head>

<body>
{% include 'includes/header.html' %}
  <!-- Begin page content -->
  <section>
    <div class="page-header">
      <h1>Замещающие сотрудники</h1>
    </div>
    <form action="/avrora_leave/new_leave/" method="get">

        {% for task in  names %}
        <label for="team_name">{{ task }}

           <select size="1" name="people" >
        <option selected value="Выберете ответственного">Выберете ответственного</option>
               {% for name in worker %}
        <option value="{{ name }}">{{ name }}</option>
                   {% endfor %}
       </select>
       </label><br />
         <br>
        {% endfor %}<br />
        <input type="text" value="{{ names }}" style="display: none" name="id"><br />
        <input type="text" value="{{ vv }}" style="display: none" name="vv"><br />
        <input type="submit" value="Отправить на согласование">
    </form>

  </section>

  <footer class="footer">
    <div class="container">
      <a>При возникновение проблем просьба обратиться на почту work@nordstorm.tech</a>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="/static/js/index.js"></script>
</body>

</html>